.u-section-1 .u-sheet-1 {
  min-height: 1460px;
}

.u-section-1 .u-post-details-1 {
  min-height: 1280px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-metadata-1 {
  margin: 22px auto 0;
}

.u-section-1 .u-text-1 {
  width: 475px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 1050px;
  height: 486px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 22px 45px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 940px;
    height: 435px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 333px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: -225px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 240px;
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 157px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 124px;
  }
}