.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/5.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 613px;
  object-position: 85.6% 50%;
  margin: 47px auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 570px;
  margin: -613px 0 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 506px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 18px 18px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-1 .u-image-1 {
    width: 435px;
    height: 608px;
  }

  .u-section-1 .u-list-1 {
    width: 1030px;
    margin-top: -608px;
    margin-right: -525px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 605px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-1 .u-image-1 {
    height: 690px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 1462px;
    margin-top: 22px;
    margin-right: -742px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 568px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1264px;
  }

  .u-section-1 .u-image-1 {
    height: 547px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 1102px;
    margin-right: -562px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 588px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-1 .u-image-1 {
    height: 372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 15px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/102.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 720px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 563px;
  object-position: 40.8% 50%;
  margin: 78px auto 0 0;
}

.u-section-2 .u-list-1 {
  width: 570px;
  margin: -563px 0 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 563px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 18px 18px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-2 .u-image-1 {
    width: 437px;
    height: 602px;
  }

  .u-section-2 .u-list-1 {
    width: 1032px;
    margin-top: -602px;
    margin-right: -527px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 602px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1505px;
  }

  .u-section-2 .u-image-1 {
    height: 690px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    width: 1463px;
    margin-top: 18px;
    margin-right: -743px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 630px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1261px;
  }

  .u-section-2 .u-image-1 {
    height: 547px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    width: 1102px;
    margin-right: -562px;
    margin-bottom: 50px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 568px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-2 .u-image-1 {
    height: 372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/14.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 720px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 563px;
  object-position: 85.05% 50%;
  margin: 78px auto 0 0;
}

.u-section-3 .u-list-1 {
  width: 570px;
  margin: -563px 0 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 563px;
  grid-auto-columns: 100%;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-3 .u-text-2 {
  margin: 18px 18px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-3 .u-image-1 {
    width: 435px;
    height: 534px;
    margin-top: 60px;
  }

  .u-section-3 .u-list-1 {
    width: 1033px;
    margin-top: -534px;
    margin-right: -528px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 534px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1272px;
  }

  .u-section-3 .u-image-1 {
    height: 690px;
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    width: 1460px;
    margin-top: 18px;
    margin-right: -740px;
    margin-bottom: 47px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-3 .u-image-1 {
    height: 422px;
    margin-top: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    width: 1103px;
    margin-top: 55px;
    margin-right: -563px;
    margin-bottom: 55px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 510px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-3 .u-image-1 {
    height: 372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 27px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 17px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/756be8d856d8537a5beb2c26d5eb276b035ce0a558a245b62c723993aabd748d80392889f8debcd2c1110bcc11a8fa3f73b9eed002792c951ae3c2_1280.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 720px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 563px;
  object-position: 85.05% 50%;
  margin: 78px auto 0 0;
}

.u-section-4 .u-list-1 {
  width: 570px;
  margin: -563px 0 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 563px;
  grid-auto-columns: 100%;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-4 .u-text-2 {
  margin: 18px 18px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-4 .u-image-1 {
    width: 435px;
    height: 534px;
    object-position: 51.41% 50%;
    margin-top: 60px;
  }

  .u-section-4 .u-list-1 {
    width: 1033px;
    margin-top: -534px;
    margin-right: -528px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 534px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1260px;
  }

  .u-section-4 .u-image-1 {
    height: 690px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-list-1 {
    width: 1463px;
    margin-top: 18px;
    margin-right: -743px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-4 .u-image-1 {
    height: 547px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-1 {
    width: 1102px;
    margin-right: -562px;
    margin-bottom: 58px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 463px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-4 .u-image-1 {
    height: 372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/close-up-security-cctv-camera-operating-road-blurred-car_30478-1987.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 720px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 563px;
  object-position: 67.28% 50%;
  margin: 78px auto 0 0;
}

.u-section-5 .u-list-1 {
  width: 570px;
  margin: -563px 0 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 563px;
  grid-auto-columns: 100%;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-5 .u-text-2 {
  margin: 18px 18px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-5 .u-image-1 {
    object-position: 85.05% 50%;
    width: 470px;
    height: 562px;
    margin-top: 60px;
  }

  .u-section-5 .u-list-1 {
    width: 1160px;
    margin-top: -562px;
    margin-right: -590px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 562px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-5 .u-image-1 {
    height: 430px;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-list-1 {
    width: 1467px;
    margin-top: 18px;
    margin-right: -747px;
    margin-bottom: 55px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 490px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-5 .u-image-1 {
    height: 323px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-list-1 {
    width: 1107px;
    margin-right: -567px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 562px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-5 .u-image-1 {
    height: 203px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 28px;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/4.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 720px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 563px;
  object-position: 67.28% 50%;
  margin: 78px auto 0 0;
}

.u-section-6 .u-list-1 {
  width: 570px;
  margin: -563px 0 60px auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 563px;
  grid-auto-columns: 100%;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-6 .u-text-2 {
  margin: 18px 18px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-6 .u-image-1 {
    object-position: 85.05% 50%;
    width: 470px;
    height: 464px;
    margin-top: 60px;
  }

  .u-section-6 .u-list-1 {
    width: 1157px;
    margin-top: -464px;
    margin-right: -587px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-6 .u-image-1 {
    height: 355px;
    margin-top: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-list-1 {
    width: 1467px;
    margin-top: 18px;
    margin-right: -747px;
    margin-bottom: 40px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-6 .u-image-1 {
    height: 266px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-list-1 {
    width: 1103px;
    margin-right: -563px;
    margin-bottom: 53px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 464px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-6 .u-image-1 {
    height: 167px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}