.u-section-1 {
  min-height: 1348px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1300px;
  margin: 87px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 639px;
  background-image: url("images/51.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 639px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 16px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 23px 64px 0 44px;
}

.u-section-1 .u-text-2 {
  margin: 32px 64px 0 44px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 622px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 22px 66px 0 22px;
}

.u-section-1 .u-text-4 {
  margin: 23px 44px 0 22px;
}

.u-section-1 .u-image-2 {
  min-height: 376px;
  background-image: url("images/carsilver.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1368px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 626px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 626px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 513px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1544px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 736px;
    margin-top: 33px;
    margin-right: calc(((100% - 720px) / 2) + -16px);
  }

  .u-section-1 .u-image-1 {
    min-height: 679px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 679px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 832px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    min-height: 832px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1612px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 413px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
    order: 1;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-2 {
    min-height: 339px;
    order: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 2227px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 260px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 838px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 913px;
  }

  .u-section-1 .u-image-2 {
    min-height: 213px;
  }
}.u-section-2 {
  min-height: 588px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 588px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 21px 0 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0 31px;
}

.u-section-2 .u-image-1 {
  min-height: 588px;
  background-image: url("images/Event-Security1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 485px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 708px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 42px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 21px;
    margin-left: 42px;
  }

  .u-section-2 .u-image-1 {
    min-height: 371px;
    background-position: 72.2% 50%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 42px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 42px;
  }

  .u-section-2 .u-image-1 {
    min-height: 417px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-image-1 {
    min-height: 263px;
  }
}.u-section-3 {
  min-height: 524px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 524px;
  pointer-events: auto;
  background-image: url("images/modern-public-cctv-camera-with-blurred-interior-shopping-mall_149453-40.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 524px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 432px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 331px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 418px;
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 431px;
    order: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 19px;
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 263px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 531px;
  }
}.u-section-4 {
  min-height: 1047px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 561px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 20px;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0 20px;
}

.u-section-4 .u-image-1 {
  min-height: 561px;
  background-image: url("images/Untitleddesign1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 486px;
  background-image: url("images/fg.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 486px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 618px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 463px;
  }

  .u-section-4 .u-image-2 {
    min-height: 401px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 401px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 473px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 636px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 20px;
  }

  .u-section-4 .u-image-1 {
    min-height: 355px;
    background-position: 69.07% 50%;
  }

  .u-section-4 .u-image-2 {
    min-height: 307px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 636px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 355px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 408px;
    order: 1;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 486px;
    order: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 12px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 224px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 326px;
  }

  .u-section-4 .u-image-2 {
    min-height: 257px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}